source https://www.nuget.org/api/v2

nuget EventStore.Client
nuget Vertigo.Json
github ameier38/fsharp-common Result.fs
github ameier38/fsharp-common SimpleType.fs
github ameier38/fsharp-common DotEnv.fs
nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
